.App {
  text-align: center;
}

.card-content {
  padding: 5.2rem 4.2rem 0.2rem 4.2rem;
}
.card-content-two {
  padding: 2rem 4.2rem 5.2rem 4.2rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightgray;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
