.App {
  text-align: center;
}

.card-content {
  padding: 2.2rem 4.2rem 0.2rem 4.2rem;
}
.card-content-two {
  padding: 2rem 4.2rem 2.2rem 4.2rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightgray;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
.form-group {
  margin-bottom: 0.7rem !important;
}
.form-control{
  height : calc(1.4em + .50rem) !important;
  font-size: 0.9rem !important;
}
.input-group-text{
  font-size: .7rem !important;
  padding: .300rem .70rem !important;
}

.alignLeft {
  text-align : left; 
}

.table thead th {
  border-bottom:  0px !important;
}

textarea.form-control {
  height : calc(1.7em + .90rem + 2px) !important;
}
th{
  border-top : 0pc !important ;
}